@import url('https://fonts.googleapis.com/css?family=Bangers');

.App {
  text-align: center;
  background-color: #222;
  justify-content: center;
  display: inline-block;
}

body{
  text-align: center;
  background-color: #222;
  justify-content: center;
  display: flex;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

div.ui.item.menu{
  background: none;
  display: flex;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(212,3,24);
  text-shadow: -0.25px 0 white, 0 1px white, 1px 0 white, 0 -0.25px white;
}

h1.title {
  color: rgb(212,3,24);
  font-family: 'Bangers', cursive;
  text-shadow: -0.25px 0 white, 0 1px white, 1px 0 white, 0 -0.25px white;
}

h2.name{
  color: rgb(212,3,24);
  font-family: 'Bangers', cursive;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
