@import url('https://fonts.googleapis.com/css?family=Bangers');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

.App {
  text-align: center;
  background-color: rgb(34,34,34);
  justify-content: center;
  display: inline-block;
}

body{
  text-align: center;
  background-color: rgb(34,34,34);
  justify-content: center;
  display: flex;
}

input#option{
  font-family: 'Press Start 2P', cursive;
  font-size: 9px;
}

select#option{
  height: 25px;
  font-family: 'Press Start 2P', cursive;
  font-size: 9px;
}

.ui.three.item.menu{
  margin: 0;
}

.cards {
  text-align: center;
  justify-content: center;
  display: inline-block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

div.ui.item.menu{
  background: none;
  display: flex;
  width: 100%;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: rgb(212,3,24);
  text-shadow: -0.25px 0 white, 0 1px white, 1px 0 white, 0 -0.25px white;
}

h1.title {
  font-size: 45px;
  color: rgb(212,3,24);
  font-family: 'Bangers', cursive;
  text-shadow: -0.25px 0 white, 0 1px white, 1px 0 white, 0 -0.25px white;
}

h2.name{
  color: rgb(212,3,24);
  font-family: 'Bangers', cursive;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
